<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Каталог ресторанів</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h1>Каталог ресторанів</h1>

<!-- Форма для парсингу ресторанів -->
<div class="buttons">
    <form method="post" action="/parse">
        <label for="pageLimit">Кількість сторінок:</label>
        <input type="number" id="pageLimit" name="pageLimit" min="1" value="2">
        <button type="submit" class="parse-btn">Спарсити ресторани</button>
    </form>

    <!-- Кнопка для завантаження Excel-файлу -->
    <a href="/api/restaurants/export">
        <button class="export-btn">Завантажити Excel</button>
    </a>
</div>

<!-- Блок для курсу валют -->
<div class="exchange-rate">
    <!-- Вставляє HTML-код курсу валют -->
    <div th:utext="${exchangeRateMessage}"></div>
    <a href="/rate">
        <button class="rate-btn">Отримати курс валют</button>
    </a>
</div>
<!-- Відображення таблиці, якщо є список ресторанів -->
<table th:if="${not #lists.isEmpty(restaurants)}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Назва</th>
        <th>Тип</th>
        <th>Адреса</th>
        <th>Рейтинг</th>
        <th>Кухня</th>
        <th>Сайт</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="restaurant : ${restaurants}">
        <td th:text="${restaurant.id}"></td>
        <td th:text="${restaurant.name}"></td>
        <td th:text="${restaurant.category}"></td>
        <td th:text="${restaurant.address}"></td>
        <td th:text="${restaurant.rating}"></td>
        <td th:text="${restaurant.cuisine}"></td>
        <td>
            <span th:if="${restaurant.site == 'Не вказано'}">Не вказано</span>
            <a th:if="${restaurant.site != 'Не вказано'}"
               th:href="${restaurant.site}"
               th:text="${restaurant.site}" target="_blank"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
